
/* Responsive Design for 1024px-1440px */
@media only screen and (min-width:769px) and (max-width:1024px) {
.hero-text h1{
  font-size:40px;
}
.arrowText{
  margin-top:-10px;
}
.rightcolumncont-text p {
  font-size:21px;
}
.blueContainer h2 {
  width:60%;
}

.blueArrow{
  width:70%;
}
.dSBox{
  width:90%;
}

.supporting-section{
  background-position: right;
}
.col-3qt{
  width:50%;
}
.darkblueContainer {
      padding: 2rem 1rem 1rem;
}
.darkblueContainer p {
    width: 69%;
    padding: 0rem 2rem 0rem;
    font-size: 20px;
}
.darkblueContainer ul {
    padding: 0rem 2rem 1rem;
}
.orangeArrowText {
    padding: 1.5rem 1rem 0rem;
        font-size: 20px;
    color: #fff;
    text-align: center;
    font-weight: 500;
    line-height: 1.1;
    margin-top: -10px;
  }
  .orangeArrow{
        padding: 0.4rem 0rem 4.4rem 0rem;
  }
  .orangeArrow h2 {
        padding: 0.4rem 4rem 0rem;
        text-align:center;
  }
  .bottom-section h2{
        padding: 0rem 3rem 0rem;
        font-size:28px;
        margin-bottom: 0;
    margin-top: 0;
    width:39%;
  }
  .bottom-section p {
    padding: 0rem 3rem 0rem;
    font-size: 16px;
  }
  .bottom-section h3{
    font-size:18px;

    width: 19%;
    padding: 0rem 3rem 0rem;
    float: right;
    clear: both;
    margin-top: 0;
    margin-bottom: 0;
  }

}
@media only screen and (max-width:768px){
.arrowText{
  margin-top: -20px;
      width: 100%;
}
.hero-text h1 {
  font-size:34px;
}
.hero-text p {
  font-size:22px;
}
.dSBox{
  background: #fff;
  min-width: 95%;
  max-width: 100%;
  margin: -5px auto;
}
.blueContainer h2 {
    font-size: 32px;
    width: 75%;
  }
  .blueContainer p {
    width: 100%;
  }
  .col-3qt{
    width:100%;
  }
  .darkblueContainer p {
    text-align: center;
    width: 75%;
    font-size: 20px;
    margin: auto;
}
.ul-columns{
  width: 100%;
  padding: 0.5rem 2rem;
}
.darkblueContainer ul {
    padding: 0rem 1rem;
}
.orangeArrow{
  margin-top:0;
  margin-left:0;
  padding:1rem;
  height:100%;
}
.bottom-section{
  background-image:none;
  text-align: center;
      margin: 1rem auto 0;
}
.bottom-section h2{
  margin: 0 auto!important;
  padding:0;
  width: 90%;
  text-align:center;
  float:none;
}
.bottom-section p {
  width:80%;
  text-align: center;
  padding:0;
  margin:1rem auto;
  float:none;
}
.bottom-section h3{
  text-align: center;
  width: 80%;
  margin:1rem auto;
  float:none;
  padding:0;
}
.tri-img{
  display:block;
  max-width: 100%;
}
.blueArrow {
    /* position: relative; */
    /* background: #0D57AD; */
    border: none;
    /* width: 100%; */
    /* position: relative; */
    background: #0D57AD;
    width: 100%;
    /* margin-top: -35px; */
    /* padding: 1%; */
    /* height: 100px; */
    z-index: 3;
    text-align: center;
    margin: 0;
        padding: 1rem 0;

}
.blueArrow:after, .blueArrow:before {
    left: 0;
    top: 0;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
}
.arrowText{
  margin:0;
}
iframe{
  max-width:100%;
  margin:0 auto;
}
}
@media only screen  and (max-width:550px){



h1{
  font-size:30px;
}
.hero-over img{

width:50%;
}
.hero {
  height:500px;
}

.hero-text {
  margin:auto;
  width:80%;
 overflow: hidden;
 padding:40px 0 0 0 ;
 z-index: 5;

}
.hero-text h1{
  font-size:40px;
   z-index: 5;
}
.hero-text p {
  font-size:30px;
   z-index: 5;
}
.hero-button{
  margin:20px;
   z-index: 5;
}
.dSBox{
  width:100%;
  margin-top:20px;
}
.blueArrow {
  height:100%;
}
.arrowText{
  width:90%;
  margin:auto;
}
.dSBox{
  display:none;
}
.col {
  width:40%;
}
.mobile-column{
  margin-top:30px;
}
.rightcolumncont {
  width:100%;
  float:none;
  margin:auto;
}
.rightcolumncont-text p{
  margin:auto;
}
.rightcolumncont-text{
  margin:auto;
}
.mobile-column{
  display:flex;
}
.bottomPhotoMobile{
  max-width: 100%;
  display:block;
}
.bottomPhotoMobile1 {
  width:100%;
  display: block;
}
}
@media only screen and (min-width:300px) and (max-width:350px){
.darkblueContainer h2 {
  width:100%;
}
.darkblueContainer p {
  width:100%;
  margin:auto;
  padding:.5rem;
}
.darkblueContainer{
  padding:1rem;
}
.ul-columns{
  padding:0;
}
.orangeArrow h2{
  text-align: center;
}
.orangeArrowText{
  padding:0;
}
.blueContainer h2 {
  width:100%;
  text-align: center;
}
.blueContainer{
      padding: 1rem;
}
.blueContainer p{
text-align: center;
}
.video-section{
  margin:0 auto;
}
}
